@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden; /* No scroll horizontal */
    overflow-y: auto; /* Sí scroll vertical */
}


body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    background-color: #e8f5e9;
}

button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        flex-direction: column !important;
        display: block !important;
        width: 100% !important;
    }

    .admin-anuncio,
    .contenedor-admin {
        width: 100% !important;
    }
}


