.main-content {
    margin-left: 352px;
    padding: 30px 60px 20px 60px; 
    background-color: white;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-y: hidden; 
}

.reporte-metric {
    font-size: 48px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 25px;
    margin-top: 10px; 
    justify-content: center;
}

.div1, .div2, .div3, .div4 {
    background-color: #e0f2e9;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-width: 260px;
    box-sizing: border-box;
    height: auto;
    min-height: 220px;
    text-align: center; 
}


.div1 {
    grid-column: 1 / span 2;
}

.div2 {
    grid-column: 3 / span 2;
}

.div3 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.div4 {
    grid-column: 3 / span 2;
    grid-row: 2;
}

.btn-imagen {
    width: 160px;
    height: 60px;
    background-image: url('/imagenes/btnReseteo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease;
}

    .btn-imagen:hover {
        transform: scale(1.05);
    }
.btn-imagen2 {
    width: 160px;
    height: 60px;
    background-image: url('/imagenes/btnAddAdmin.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease;
}

    .btn-imagen2:hover {
        transform: scale(1.05);
    }
.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/*    //Responsivo*/
@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        padding: 20px;
        overflow-y: auto;
        padding-top: 90px !important;
    }

    .parent {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .div1, .div2, .div3, .div4 {
        width: 90%;
        min-width: unset;
        padding: 20px;
        min-height: auto;
    }

    .btn-imagen {
        width: 100%;
        max-width: 200px;
        height: 50px;
        margin-top: 10px;
    }

    .div1,
    .div2,
    .div3,
    .div4 {
        grid-column: auto;
        grid-row: auto;
    }
}
